body{
    margin: 0;
    font-family: sans-serif;
}

a{
    color: white;
    text-decoration: none;
}
header{
    min-height: 70px;
    background-color: #141614;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2px;
}
.logo{
    display: flex;
    align-items: center;
}
.logo img{
    height: 50px;
    margin-right: 12px;
} 
nav a{
    font-weight: 600;
    padding-right: 10px;
}
nav a:hover{
    color: rgb(208, 137, 45); 
}
@media (max-width: 680px) {
    header{
        flex-direction: column;
    }
    nav{
        padding: 10px 0px;
    }
}